/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.back-img{
    width: 100vw;
    height: 15vh;
}


.profile-card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card-upper {
    display: flex;
    align-items: center;
    width: 100%;
}

.pfp {
    border-radius: 30%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #eaeaea;
    margin-bottom: 20px;
}

.names {
    text-align: left;
    margin-left: 8px;
}

.display-name {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.username {
    font-size: 20px;
    font-weight: bold;
    color: #777777;
    margin-bottom: 10px;
}

.bio {
    font-size: 16px;
    color: #777;
    margin-top: 20px;
    width: 100%;
    display: block;
    text-align: center;
}

/* Buttons */
.profile-card .buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}
.profile-card .edit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.profile-card .logout-button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.profile-card .btn:hover {
    opacity: 0.8;
}